@model Forum
@{
    ViewData["Title"] = "Forum";
}

<<style>
    label {
        display: inline-block;
        width: 10em;
        padding-right: 1em;
    }

    div {
        margin-bottom: .5em;
    }
</style>

<div class="text-center">
    <h1 class="dislpay-4"> Forum for Discussion</h1>
    <p>
        A forum for people to talk about their favorite stories, themes, authors, and opinions.
    </p>
</div>

<form method="post">
    <div>
        <label asp-for="PageName">Page Name:</label>
        <input asp-for="PageName" />
    </div>
    <div>
        <label asp-for="PageRating">Rating:</label>
        <input asp-for="PageRating" />
    </div>
    <div>
        <label asp-for="PostText">Post:</label>
        <input asp-for="PostText" style="height:300px" />
    </div>
    <div>
        <label asp-for="PostCreator.Name">Written By:</label>
        <input asp-for="PostCreator.Name" />
    </div>
    <div>
        <label asp-for="PostDate">Date:</label>
        <input asp-for="PostDate" />
    </div>
    <div>
        <button type="submit">Post Message</button>
    </div>
</form>

<br />
<br />
<h2>Post Thread</h2>
<p>
    Page Name:
    @Model.PageName <br />

    Rating:
    @Model.PageRating <br />

    Post:
    @Model.PostText <br />

    Written By:
    @Model.PostCreator.Name <br />

    Date:
    @Model.PostDate <br />
</p>
    -
